Personal Assistance for Seniors Who Are Self-Reliant/Final Deliverables/flows.json
[{"id":"4905ac3b4dbf2bb6","type":"tab","label":"final","disabled":false,"info":"","env":[]},{"id":"335541ca4d43cd7f","type":"function","z":"4905ac3b4dbf2bb6","name":"function 1","func":"var d = msg.payload.date\nvar t = msg.payload.time\nmsg.payload = {\n    \"_id\":t,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":200,"wires":[["d3c835c362f2b303","2155190a7c47017e","5b4f300612f8a433"]]},{"id":"d3c835c362f2b303","type":"function","z":"4905ac3b4dbf2bb6","name":"function 2","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["9d3bdacdd3e460c7"]]},{"id":"9d3bdacdd3e460c7","type":"delay","z":"4905ac3b4dbf2bb6","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":340,"wires":[["fafce9aea28a2391"]]},{"id":"2155190a7c47017e","type":"debug","z":"4905ac3b4dbf2bb6","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"1079c81d359130c1","type":"inject","z":"4905ac3b4dbf2bb6","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["7d8ed11a3d3e4208"]]},{"id":"7d8ed11a3d3e4208","type":"function","z":"4905ac3b4dbf2bb6","name":"function 3","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nvar newDate = new Date(utc+(3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["a968e9d9cfed202d","648457d783136ea7"]]},{"id":"25cf1fff39651b17","type":"switch","z":"4905ac3b4dbf2bb6","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[[],["c89b451c98c4bc01","2ee7d8465659bc4d"]]},{"id":"c89b451c98c4bc01","type":"function","z":"4905ac3b4dbf2bb6","name":"function 4","func":"msg.payload = {\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":60,"wires":[["c804a4b533c78b68"]]},{"id":"c804a4b533c78b68","type":"debug","z":"4905ac3b4dbf2bb6","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"648457d783136ea7","type":"debug","z":"4905ac3b4dbf2bb6","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"1bf89273dfa04e85","type":"http in","z":"4905ac3b4dbf2bb6","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":220,"y":500,"wires":[["a90e1f4d47d4cc4a"]]},{"id":"a90e1f4d47d4cc4a","type":"template","z":"4905ac3b4dbf2bb6","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"_id\":\"{{payload.medtime}}\",\"name\":\"{{payload.medname}}\"}","output":"str","x":420,"y":500,"wires":[["e8cfe55831c8d421","26ce4f17aca06e00","1ca573b62246b52d"]]},{"id":"e8cfe55831c8d421","type":"http response","z":"4905ac3b4dbf2bb6","name":"","statusCode":"","headers":{},"x":590,"y":500,"wires":[]},{"id":"26ce4f17aca06e00","type":"debug","z":"4905ac3b4dbf2bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"a968e9d9cfed202d","type":"cloudantplus in","z":"4905ac3b4dbf2bb6","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"_ext_","search":"_id_","design":"","index":"","x":460,"y":60,"wires":[["25cf1fff39651b17"]]},{"id":"5b4f300612f8a433","type":"cloudantplus out","z":"4905ac3b4dbf2bb6","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"_ext_","payonly":true,"operation":"insert","x":540,"y":200,"wires":[[]]},{"id":"1ca573b62246b52d","type":"cloudantplus out","z":"4905ac3b4dbf2bb6","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"_ext_","payonly":true,"operation":"insert","x":620,"y":400,"wires":[[]]},{"id":"0375f1adeba13fce","type":"ibmiot out","z":"4905ac3b4dbf2bb6","authentication":"apiKey","apiKey":"25de7604b5f5502a","outputType":"cmd","deviceId":"nitish123","deviceType":"Arduino","eventCommandType":"test","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1060,"y":140,"wires":[]},{"id":"fafce9aea28a2391","type":"ui_form","z":"4905ac3b4dbf2bb6","name":"","label":"","group":"bc50a678ccfc169d","order":0,"width":0,"height":0,"options":[{"label":"Enter Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time (HH:MM) 24H","value":"time","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":350,"y":340,"wires":[["2155190a7c47017e","335541ca4d43cd7f"]]},{"id":"37761349081ad654","type":"debug","z":"4905ac3b4dbf2bb6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"27581c321f262b13","type":"json","z":"4905ac3b4dbf2bb6","name":"","property":"payload","action":"","pretty":false,"x":810,"y":400,"wires":[[]]},{"id":"2ee7d8465659bc4d","type":"function","z":"4905ac3b4dbf2bb6","name":"","func":"msg.payload = {\"command\": msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":140,"wires":[["37761349081ad654","2f3349deb28c2197"]]},{"id":"2f3349deb28c2197","type":"json","z":"4905ac3b4dbf2bb6","name":"","property":"payload","action":"","pretty":false,"x":930,"y":140,"wires":[["0375f1adeba13fce"]]},{"id":"511d0c61af9975a1","type":"cloudantplus","host":"https://apikey-v2-2ibdj2a7uc3ttpu6ixzpruz1pabjcly5hdse1l8wop9l:7dd6978642f4701bb62b2c3cbccf34bb@c2941d25-c98b-4f34-b021-5173cf01e965-bluemix.cloudantnosqldb.appdomain.cloud","name":"Tablet","useapikey":false},{"id":"25de7604b5f5502a","type":"ibmiot","name":"Arduino","keepalive":"120","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bc50a678ccfc169d","type":"ui_group","name":"Medicine Reminder","tab":"64280c90fee38938","order":1,"disp":true,"width":"6","collapse":false},{"id":"64280c90fee38938","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]