Personal Assistance for Seniors Who Are Self-Reliant/Final Deliverables/flows.json
[{"id":"f62f92ed611adf97","type":"tab","label":"final","disabled":false,"info":"","env":[]},{"id":"c67cc554267963f8","type":"function","z":"f62f92ed611adf97","name":"function 1","func":"var d = msg.payload.date\nvar t = msg.payload.time\nmsg.payload = {\n    \"_id\":t,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":260,"y":200,"wires":[["08b638c0d66011f1","dfa880f36ddc1dee","a9193e099d3ad6c9"]]},{"id":"08b638c0d66011f1","type":"function","z":"f62f92ed611adf97","name":"function 2","func":"msg.payload = {\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["6ad32f20919a1e18"]]},{"id":"6ad32f20919a1e18","type":"delay","z":"f62f92ed611adf97","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":340,"wires":[["533603ac40792ed6"]]},{"id":"dfa880f36ddc1dee","type":"debug","z":"f62f92ed611adf97","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":340,"wires":[]},{"id":"d0ed08b1658d3790","type":"inject","z":"f62f92ed611adf97","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":60,"wires":[["eebab423a5625239"]]},{"id":"eebab423a5625239","type":"function","z":"f62f92ed611adf97","name":"function 3","func":"var d = new Date();\nvar utc = d.getTime() + (d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nvar newDate = new Date(utc+(3600000*offset));\nvar n = newDate.toISOString()\nvar date = n.slice(0,10)\nvar time = n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":100,"wires":[["4e382ef51fd99832","d0318efeebe149f6"]]},{"id":"9bb51cec9899a6eb","type":"switch","z":"f62f92ed611adf97","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":120,"wires":[[],["9c27a111f745d855","ec93f37a5266a181"]]},{"id":"9c27a111f745d855","type":"function","z":"f62f92ed611adf97","name":"function 4","func":"msg.payload = {\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":60,"wires":[["174aa57061312c42"]]},{"id":"174aa57061312c42","type":"debug","z":"f62f92ed611adf97","name":"msg.payload","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":890,"y":60,"wires":[]},{"id":"d0318efeebe149f6","type":"debug","z":"f62f92ed611adf97","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":460,"y":140,"wires":[]},{"id":"a7d9c20c991cbc96","type":"http in","z":"f62f92ed611adf97","name":"","url":"/data","method":"post","upload":false,"swaggerDoc":"","x":220,"y":500,"wires":[["294211838fda828f"]]},{"id":"294211838fda828f","type":"template","z":"f62f92ed611adf97","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{\"_id\":\"{{payload.medtime}}\",\"name\":\"{{payload.medname}}\"}","output":"str","x":420,"y":500,"wires":[["47f57e4f0b807768","06e9626261f17e36","7fe234d05f53beff"]]},{"id":"47f57e4f0b807768","type":"http response","z":"f62f92ed611adf97","name":"","statusCode":"","headers":{},"x":590,"y":500,"wires":[]},{"id":"06e9626261f17e36","type":"debug","z":"f62f92ed611adf97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":580,"wires":[]},{"id":"74a2ac97ec4f45d6","type":"debug","z":"f62f92ed611adf97","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":970,"y":220,"wires":[]},{"id":"acc01cfadcb19a02","type":"json","z":"f62f92ed611adf97","name":"","property":"payload","action":"","pretty":false,"x":950,"y":340,"wires":[[]]},{"id":"ec93f37a5266a181","type":"function","z":"f62f92ed611adf97","name":"","func":"msg.payload = {\"command\": msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":140,"wires":[["74a2ac97ec4f45d6","19c7e0b245117bff"]]},{"id":"19c7e0b245117bff","type":"json","z":"f62f92ed611adf97","name":"","property":"payload","action":"","pretty":false,"x":930,"y":140,"wires":[["8c4662360fd95fa8"]]},{"id":"8c4662360fd95fa8","type":"ibmiot out","z":"f62f92ed611adf97","authentication":"apiKey","apiKey":"25de7604b5f5502a","outputType":"cmd","deviceId":"123456","deviceType":"medicine","eventCommandType":"test","format":"json","data":"msg.payload","qos":0,"name":"IBM IoT","service":"registered","x":1015,"y":140,"wires":[],"l":false},{"id":"533603ac40792ed6","type":"ui_form","z":"f62f92ed611adf97","name":"","label":"","group":"bc50a678ccfc169d","order":0,"width":0,"height":0,"options":[{"label":"Enter Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time (HH:MM) 24H","value":"time","type":"text","required":true,"rows":null}],"formValue":{"name":"","time":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":350,"y":340,"wires":[["dfa880f36ddc1dee","c67cc554267963f8"]]},{"id":"4e382ef51fd99832","type":"cloudantplus in","z":"f62f92ed611adf97","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"node-red-haayt-2022--cloudant-1668759311049-44870","search":"_id_","design":"","index":"","x":460,"y":60,"wires":[["9bb51cec9899a6eb"]]},{"id":"a9193e099d3ad6c9","type":"cloudantplus out","z":"f62f92ed611adf97","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"node-red-haayt-2022--cloudant-1668759311049-44870","payonly":true,"operation":"insert","x":540,"y":200,"wires":[[]]},{"id":"7fe234d05f53beff","type":"cloudantplus out","z":"f62f92ed611adf97","name":"","cloudant":"511d0c61af9975a1","database":"medicines","service":"node-red-haayt-2022--cloudant-1668759311049-44870","payonly":true,"operation":"insert","x":620,"y":400,"wires":[[]]},{"id":"25de7604b5f5502a","type":"ibmiot","name":"Arduino","keepalive":"120","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"bc50a678ccfc169d","type":"ui_group","name":"Medicine Reminder","tab":"64280c90fee38938","order":1,"disp":true,"width":"6","collapse":false},{"id":"511d0c61af9975a1","type":"cloudantplus","host":"https://6e464dba-b50b-49ed-bdce-ccdfdc2b1951-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":true},{"id":"64280c90fee38938","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]