Personal Assistance for Seniors Who Are Self-Reliant/Coding and Solutioing/Flows.json
[{"id":"d274ae7022558adc","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"b7d94574721c6459","type":"ui_form","z":"d274ae7022558adc","name":"","label":"","group":"3a9db033d39fcb26","order":0,"width":0,"height":0,"options":[{"label":"Enter the medicine name","value":"name","type":"text","required":true,"rows":null},{"label":"Time(HH-MM) 24 Hrs","value":"12-00","type":"text","required":true,"rows":null},{"label":"Date(YYYY-MM-DD)","value":"2022-11-01","type":"text","required":true,"rows":null}],"formValue":{"name":"","12-00":"","2022-11-01":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":490,"y":440,"wires":[["517cb491d0d2d5c0"]]},{"id":"288ec6dc2aef9fa9","type":"function","z":"d274ae7022558adc","name":"","func":"var d=msg.payload.date\nvar t=msg.payload.time\nmsg.payload={\n    \"id\":d+\"\"+t,\n    \"name\":msg.payload.name,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":320,"wires":[["cba355b7ba7addbf","9bb02b3826e8943c"]]},{"id":"176ea5f6e8054f3f","type":"function","z":"d274ae7022558adc","name":"","func":"msg.payload={\n    \"date\":\"\",\n    \"name\":\"\",\n    \"time\":\"\"\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":360,"wires":[["c122d964eda44006"]]},{"id":"c122d964eda44006","type":"delay","z":"d274ae7022558adc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":180,"y":440,"wires":[["b7d94574721c6459"]]},{"id":"517cb491d0d2d5c0","type":"debug","z":"d274ae7022558adc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":690,"y":440,"wires":[]},{"id":"54d51b54a37d0b39","type":"inject","z":"d274ae7022558adc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"60","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["72c2690b4d52bb38"]]},{"id":"72c2690b4d52bb38","type":"function","z":"d274ae7022558adc","name":"","func":"var d =new Date();\nvar utc =d.getTime() + (d.getTimezoneOffset() * 60000);\nvar offset =5.5;\nnewDate =new Date(utc + (3600000*offset));\nvar n=newDate.toISOString()\nvar date =n.slice(0,10)\nvar time=n.slice(11,16)\nglobal.set('time',time)\nmsg.payload=date+\"\"+time\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":160,"wires":[["61e71b34f96bb87a"]]},{"id":"e98acdc7a9f21e09","type":"switch","z":"d274ae7022558adc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":160,"wires":[[],["d93cb4da53bea5a6"]]},{"id":"ea9421a4f089bb3e","type":"debug","z":"d274ae7022558adc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":40,"wires":[]},{"id":"034365fda3e42243","type":"ibmiot out","z":"d274ae7022558adc","authentication":"apiKey","apiKey":"3131a5b3670b2a7a","outputType":"evt","deviceId":"123456","deviceType":"medicine","eventCommandType":"IoTSensor","format":"json","data":"data","qos":0,"name":"IBM IoT","service":"registered","x":760,"y":140,"wires":[]},{"id":"d93cb4da53bea5a6","type":"function","z":"d274ae7022558adc","name":"","func":"msg.payload={\"command\":msg.payload.name}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":100,"wires":[["ea9421a4f089bb3e","034365fda3e42243"]]},{"id":"cba355b7ba7addbf","type":"cloudant out","z":"d274ae7022558adc","name":"","cloudant":"e98fc546e9e321f2","database":"medicine","service":"node-red-tflhl-2022--cloudant-1668506859495-57061","payonly":false,"operation":"insert","x":660,"y":280,"wires":[]},{"id":"61e71b34f96bb87a","type":"cloudant in","z":"d274ae7022558adc","name":"","cloudant":"e98fc546e9e321f2","database":"medicine","service":"node-red-tflhl-2022--cloudant-1668506859495-57061","search":"_id_","design":"","index":"","x":340,"y":100,"wires":[["e98acdc7a9f21e09"]]},{"id":"b92f55a8c413c3d2","type":"ibmiot in","z":"d274ae7022558adc","authentication":"apiKey","apiKey":"3131a5b3670b2a7a","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":30,"y":300,"wires":[["288ec6dc2aef9fa9"]]},{"id":"02cb08d713932e9b","type":"http in","z":"d274ae7022558adc","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":100,"y":240,"wires":[["288ec6dc2aef9fa9"]]},{"id":"9bb02b3826e8943c","type":"http response","z":"d274ae7022558adc","name":"","statusCode":"","headers":{},"x":370,"y":260,"wires":[]},{"id":"3a9db033d39fcb26","type":"ui_group","name":"Default","tab":"6699982402b0ef6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"3131a5b3670b2a7a","type":"ibmiot","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"e98fc546e9e321f2","type":"cloudant","host":"https://apikey-v2-368jujtwknfle13crq5coevxw8555wvz6ttitkhrik48:b2303ad5585c7bdc25e6249fdf5048b8","name":"Tablet database"},{"id":"6699982402b0ef6c","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]